@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@mixin zeroPadding {
  padding: 0;
  margin: 0;
}

@mixin setFlex($just, $direction, $content) {
  display: flex;
  justify-content: $just;
  flex-direction: $direction;
  align-items: $content;
}